<launch>
  <!-- Arguments -->
  <arg name="config" value = "config_multi.yaml"/>
  <arg name="rslidar_config_file" value ="$(find rslidar_sdk)/config/$(arg config)"/>

  <!-- Node -->
  <node pkg="rslidar_sdk" name="rslidar_sdk_node" type="rslidar_sdk_node" output="screen">
    <param name= "rslidar_config_file" value = "$(arg rslidar_config_file)"/>
  </node>

  <!-- rviz -->
  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find rslidar_sdk)/rviz/confirm_connection.rviz" />

  <!-- Dummy TF -->
  <node name="dummy_lidar_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 rs128_lidar rsm1_lidar 40" />

</launch>
